* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.bg-green {
  /* background: linear-gradient(-45deg, #3da884, #b3ffff); */
  background-color: #38546d;
  color: #3da884;
} 

.p-10 {
  padding: 10px;
}

.ml-10 {
  margin-left: 10px;
}

#hp-value {
  color: #d12139;
}

#gold-value {
  color: #b3b334;
 }

#wave-value {
  color: #ad8e8e;
}

.fire-tower, .ice-tower, .fire-tower-upgrade, .ice-tower-upgrade {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .user-panel {
  display: flex;
} */

.user-gold, .user-hp {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.towers {
  display: flex;
  justify-content: space-evenly;
}

.towers img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.enemies img {
  width: 30px;
  height: 30px;
}

.tower-upgrades {
  display: flex;
  justify-content: space-evenly;
}

.tower-upgrades img {
  width: 30px;
  height: 30px;
}

.tower-active {
  border: 2px solid #F5425A
}

canvas {
  background: url("../Images/fondo-juego2.png");
  background-repeat: repeat-x repeat-y;
}

.vertical-divider {
  border-left:1px solid #38546d; 
  border-right:1px solid #16222c; 
}

.vertical-divider-h {
  border-left:5px solid #38546d; 
  border-right:5px solid #16222c; 
}

.locked {
  opacity: 0.3;
  cursor: auto;
}

.unlocked {
  opacity: 1;
  cursor: pointer;
}

.wave {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.enemies {
  display: flex;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-panel {
  display: flex;
}

#user-panel {
  display: flex;
  justify-content: flex-start;
}

.wave {
  background-color: #38546d;
  color: #3da884;
}

.hide {
  display: none;
}

.interface {
  background: url("../Images/evil-background.png");
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interface p {
  margin: 100px auto;
  font-size: 3.5rem;
  font-weight: 900;
  background: -webkit-linear-gradient(rgb(176, 223, 161), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-option {
  list-style-type: none;
}

.game-option a {
   background: -webkit-linear-gradient(rgb(176, 223, 161), #F5425A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}