#canvas {
  /* width: 100%;
  height: 100%; */
  border: 3px solid red;
}

/* #game-board {
  width: 100vw;
  height: 100vh;
} */


#user-panel {
  display: flex;
  align-items: center;
}

#hp-value {
  color: #d12139;
}

.user-hp {
  padding: 10px;
  margin: 10px 20px 0 0;
}

#gold-value {
  color: #b3b334;
}

.user-gold {
  padding: 10px;
  margin: 10px 20px 0 0;
}

.towers {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(-45deg, #3da884, #b3ffff);
}

.towers img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 30px;
}

.tower-active {
  border: 2px solid #F5425A
}
