* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-green {
  background: linear-gradient(-45deg, #3da884, #b3ffff);
} 

.p-10 {
  padding: 10px;
}

.ml-10 {
  margin-left: 10px;
}

#hp-value {
  color: #d12139;
}

#gold-value {
  color: #b3b334;
 }

#wave-value {
  color: #ad8e8e;
}

.fire-tower, .ice-tower {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-panel {
  display: flex;
}

.user-gold, .user-hp, .wave {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.towers {
  display: flex;
  justify-content: space-evenly;
}

.towers img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.tower-active {
  border: 2px solid #F5425A
}

canvas {
  background: url("../Images/fondo_juego.png");
  background-repeat: repeat-x repeat-y;
}

.vertical-divider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
}
